@require 'grid.styl'

:host
  box-sizing border-box
  display block

.game-mode-select
  margin-top 15px
  min-width 250px

header.searched-player
  align-items center
  display flex
  justify-content flex-start
  .sm
    color clr-secondary
    display block
    font-size .55em
    font-weight 500
    margin-top 5px
.guardian
  border-radius 2px
  box-shadow 1px 0 10px 0 rgba(#000, .2)
  box-sizing border-box
  margin-bottom 1em
  overflow hidden
  width 100%
  .character-info
    stat-font()
    color darken(clr-secondary, 50%)
    font-size .9em
    font-weight 400
    text-transform uppercase
.guardian-stats
  background #fff
  color clr-black
  width 100%
  td
    padding 10px
    vertical-align middle
  td:first-child
    text-align left
  td:not(:first-child)
    text-align right
  tr:nth-child(even)
    background lighten(clr-secondary, 90%)
  tr.glory-rank td
    color clr-tertiary
    font-weight 700
.label
  color clr-grey
  font-size .8em
  text-transform uppercase
  &:after
    content ': '
    margin-right 1.5em
.value .sm
  color lighten(clr-grey, 50%)
