<dr-search>
  <div>
    <mat-form-field class="game-mode-select" color="accent">
      <mat-select placeholder="Game mode" [formControl]="modeSelectCtrl" (selectionChange)="changeMode($event)">
        <mat-option *ngFor="let o of options" [value]="o.value">
          {{o.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</dr-search>

<ng-container *ngIf="username; else shaxxQuote">
  <div class="container">
    <header class="searched-player section-header">
      <h3>
        {{username}}'s
        <span class="sm">most recent carnage report</span>
      </h3>
    </header>

    <ng-container *ngIf="fireteam && fireteam.length > 0; else loading">
      <section *ngFor="let guardian of fireteam" class="guardian">
        <dr-character class="character"
                      [name]="guardian.player.destinyUserInfo.displayName"
                      [emblemIcon]="guardian.player.destinyUserInfo.iconPath"
                      [level]="guardian.player.characterLevel"
                      [classHash]="guardian.player.classHash"
                      [raceHash]="guardian.player.raceHash"
                      [genderHash]="guardian.player.genderHash"
                      [lightLevel]="guardian.player.lightLevel"></dr-character>
        <table class="guardian-stats">
          <tr class="glory-rank">
            <td class="label">Glory Rank</td>
            <td class="value">{{getGloryRank(guardian.characterId)}}</td>
          </tr>
          <tr *ngFor="let mode of modeSelectCtrl.value">
            <td class="label">{{crucible.getReadableStringForMode(mode)}}</td>
            <td class="value">{{getKd(guardian.characterId, mode)}} <span class="sm">KD</span></td>
          </tr>
        </table>
      </section>
    </ng-container>
  </div>
</ng-container>

<ng-template #shaxxQuote>
  <blockquote class="shaxx-quote">"Ut-oh" --Shaxx</blockquote>
</ng-template>

<ng-template #loading>
  <div class="loading"></div>
</ng-template>
