@import url('https://fonts.googleapis.com/css?family=Economica:400,700|Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700,900')
@require '~kouto-swiss/index.styl'
@require '~jeet/styl/index.styl'

@require 'grid.styl'
@require 'loading.styl'

ks-meyer-reset()
generate-grid()

html,
body
  height 100%
  margin 0
  overflow hidden

body
  main-font()
  font-size 14px
  line-height 1.4
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6
  compressed-font()
  font-weight 300

.sm
  font-size .7em

.container
  container()

.loading
  margin-top 3em

.shaxx-quote
  color clr-tertiary
  font-size 1.2em
  margin-top 3em
  text-align center

.section-header
  border-bottom 1px solid clr-secondary
  color clr-white
  font-size 2em
  font-weight 300
  line-height 1
  margin 40px 0 10px
  padding-bottom 10px
  width 100%

.page-header
  background clr-grey-light
  border-bottom 1px solid darken(clr-primary-dark, 40%)
  box-shadow 2px 0 5px 0 rgba(#000, .3)
  display block
  justify-content center
  padding 1.2em 0
  width 100%
  .container
    align-items center
    display flex
    justify-content space-between
  h2
    color rgba(clr-white, .4)
    font-size 2em
    font-weight 400
    line-height 1
    text-transform uppercase

+mobile-only()
  .page-header
    .container
      flex-direction column
      justify-content center
    h2
      margin-bottom .5em
