@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Josefin+Slab:100,300,400,600,700')

@require '~kouto-swiss/index.styl'
@require '~jeet/styl/index.styl'

@require 'grid.styl'

ks-meyer-reset()
generate-grid()

body
  serif-font()
  background lighten(clr-white, 80%)
  font-size 14px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

.sm
  font-size .7em

.container
  container()
