@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Josefin+Slab:100,300,400,600,700')

@require '~kouto-swiss/index.styl'
@require '~jeet/styl/index.styl'

@require 'grid.styl'
@require 'loading.styl'

ks-meyer-reset()
generate-grid()

body
  sans-font()
  font-size 14px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6
  serif-font()

.sm
  font-size .7em

.container
  container()

.loading
  margin-top 3em

.shaxx-quote
  color clr-tertiary
  font-size 1.2em
  margin-top 3em
  text-align center
