clr-grey = #2e3138
clr-grey-light = #474b59
clr-primary = #526ba7
clr-primary-accent = #698ac9
clr-primary-dark = darken(clr-primary, 20%)
clr-secondary = #f6cd61
clr-tertiary = #fe8a71
clr-action = #0e9aa7
clr-white = #fffae5
clr-black = #0a191e

clr-link = clr-tertiary

// Responsive
doc-max-width = 1224px
phone-max-width = 767px
tablet-min-width = 768px
tablet-max-width = 983px
mobile-gutter = 5px
max-grid-width = 1230px
gutter-width = 30px

transition-time = .3s

card-shadow = 0 0 5px 0 rgba(#000, .25)
common-text-shadow = 0 1px .1px rgba(#000, .8)

stat-font()
  font-family 'Economica', serif

main-font()
  font-family 'Roboto', sans-serif

compressed-font()
  font-family 'Roboto Condensed', sans-serif

text-link(color = clr-link)
  color color
  font-weight 500
  text-decoration none
  &:hover
    text-decoration underline
  coaching-icon
    margin-left 2px

reset-button()
  background transparent
  border 0
  font-size inherit
  padding 0

phone-only()
  @media (max-width: phone-max-width)
    {block}

tablet-only()
  @media (min-width: tablet-min-width) and (max-width: tablet-max-width)
    {block}

mobile-only()
  @media (max-width: tablet-max-width)
    {block}

desktop-only()
  @media (min-width: tablet-max-width + 1)
    {block}

max-doc-width()
  @media (max-width: doc-max-width - 1)
    {block}

not-phone()
  @media (min-width: phone-max-width + 1)
    {block}
