<header class="page-header">
  <div class="container">
    <h2>Get Big Quick</h2>
    <a mat-flat-button href="https://www.bungie.net/en/OAuth/Authorize?client_id=1853&response_type=code" color="accent">Sign In</a>
  </div>
</header>

<section class="container character-overview">
  <div class="characters" [class.show-all]="showAllCharacters">
    <dr-character class="character"
                  *ngFor="let c of characters; let i = index"
                  [data]="c"
                  [class.active]="i === 0"></dr-character>
  </div>
  <div class="mobile-control">
    <button type="button"
            mat-flat-button
            color="primary"
            (click)="showAllCharacters = !showAllCharacters">
      {{showAllCharacters ? 'Show Active Character' : 'Show All'}}
    </button>
  </div>
</section>

<section class="container">
  <h3 class="section-header">Up Next</h3>
  <p>An efficient path to higher power.</p>

  <!-- Get to 50 -->
  <h4><mat-icon>gps_fixed</mat-icon>Get to 50</h4>
  <p class="reason">
    Before you hit 50, you'll want to avoid doing activities that can grant
    powerful gear, unless you're in danger of those activities resetting.
  </p>
  <ul>
    <li>Public Events</li>
    <li>Story Missions</li>
    <li>Adventures</li>
  </ul>
</section>
