<header class="page-header" *ngIf="memberships">
  <div class="container">
    <h2>Get Big Quick</h2>
    <ng-container *ngIf="memberships.length > 1; else oneMembership">
      <mat-form-field class="membership-select-field" color="accent">
        <mat-icon class="membership-icon" matPrefix [svgIcon]="membershipCtrl.value.membershipIcon"></mat-icon>
        <mat-select [formControl]="membershipCtrl" (selectionChange)="changeMembership($event)">
          <mat-option *ngFor="let m of memberships" [value]="m" class="membership">
            <mat-icon class="membership-icon" [svgIcon]="m.membershipIcon"></mat-icon>
            <span class="display-name">{{m.displayName}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-template #oneMembership>
      <div class="membership">
        <mat-icon class="membership-icon" [svgIcon]="memberships[0].membershipIcon"></mat-icon>
        <span class="display-name">{{memberships[0].displayName}}</span>
      </div>
    </ng-template>
  </div>
</header>

<section class="container character-overview">
  <div class="characters" [class.show-all]="showAllCharacters">
    <dr-character class="character"
                  *ngFor="let c of characters; let i = index"
                  [data]="c"
                  [class.active]="i === 0"></dr-character>
  </div>
  <div class="mobile-control">
    <button type="button"
            mat-flat-button
            color="primary"
            (click)="showAllCharacters = !showAllCharacters">
      {{showAllCharacters ? 'Show Active Character' : 'Show All'}}
    </button>
  </div>
</section>

<section class="container">
  <h3 class="section-header">Up Next</h3>
  <p>An efficient path to higher power.</p>

  <!-- Get to 50 -->
  <h4><mat-icon>gps_fixed</mat-icon>Get to 50</h4>
  <p class="reason">
    Before you hit 50, you'll want to avoid doing activities that can grant
    powerful gear, unless you're in danger of those activities resetting.
  </p>
  <ul>
    <li>Public Events</li>
    <li>Story Missions</li>
    <li>Adventures</li>
  </ul>
</section>
