@require 'vars.styl'

:host
  display flex
  flex-direction column

section
  h3
    border-bottom 1px solid clr-secondary
    color clr-white
    font-size 2em
    font-weight 300
    margin 40px 0 10px
    padding-bottom 10px
    width 100%

.character-overview
  .character
    margin 20px 0
