@require 'vars.styl'

header
  background clr-grey
  height 60px
  width 100%
  .container
    align-items center
    display flex
    height 100%
    justify-content space-between
.branding
  align-items center
  display flex
  height 100%
  h1
    sans-font()
    color clr-white
    font-size 2em
    font-weight 300
    .sm
      color clr-secondary
      font-weight 600
  .logo
    height 50px
    margin-right 1em
.desktop-nav,
.mobile-nav
  a
    sans-font()
    align-items center
    display flex
    color clr-white
    font-size 1.2em
    font-weight 500
    padding 0 20px
    text-decoration none
    transition all transition-time
    &.active
      background rgba(clr-primary, 30%)
      box-shadow 0 -5px 0 0 clr-secondary inset
      pointer-events none
    &:hover
      background clr-primary-accent

.sidenav-container
  height 100vh
.mobile-nav
  background clr-grey
  min-width 150px

+not-phone()
  .desktop-nav
    display flex
    height 100%
    a
      height 100%
  .sidenav-toggle
    display none

+mobile-only()
  .desktop-nav
    display none
  .mobile-nav
    a
      outline 0
      padding 1em
  .sidenav-toggle
    reset-button()
    align-items center
    color clr-white
    display flex
    height 100%
    justify-content center
    outline 0
