<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="mobile-nav" #sidenav mode="push" position="end">
    <nav>
      <a routerLink="/big" routerLinkActive="active" queryParamsHandling="merge" (click)="sidenav.close()">Get Big Quick</a>
      <a routerLink="/crucible" routerLinkActive="active" queryParamsHandling="merge" (click)="sidenav.close()">Crucible</a>
      <!--<a routerLink="/fireteam" routerLinkActive="active" queryParamsHandling="merge" (click)="sidenav.close()">Fireteam</a>-->
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <header class="main-header">
      <div class="container">
        <div class="branding">
          <img class="logo" src="assets/branding/d2-report-logo.svg" alt="">
          <h1><span class="sm">D2</span>.report</h1>
        </div>
        <nav class="desktop-nav">
          <a routerLink="/big" routerLinkActive="active">Get Big Quick</a>
          <a routerLink="/crucible" routerLinkActive="active">Crucible</a>
          <!--<a routerLink="/fireteam" routerLinkActive="active">Fireteam</a>-->
        </nav>
        <button class="sidenav-toggle" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
