<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="mobile-nav" #sidenav mode="push" position="end">
    <nav>
      <a routerLink="/progress" routerLinkActive="active" queryParamsHandling="merge" (click)="sidenav.close()">My Progress</a>
      <a routerLink="/crucible" routerLinkActive="active" queryParamsHandling="merge" (click)="sidenav.close()">Crucible</a>
      <!--<a routerLink="/fireteam" routerLinkActive="active" queryParamsHandling="merge" (click)="sidenav.close()">Fireteam</a>-->
      <button type="button" (click)="auth.logOut()" *ngIf="auth.isAuthenticated">Log Out</button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <header class="main-header">
      <div class="container">
        <div class="branding">
          <img class="logo" src="assets/branding/d2-report-logo.svg" alt="">
          <h1><span class="sm">D2</span>.report</h1>
        </div>

        <button class="login-btn" *ngIf="!auth.isAuthenticated" mat-flat-button color="accent" (click)="logIn()">Log In</button>

        <ng-container *ngIf="memberships?.length > 1; else oneMembership">
          <mat-form-field class="membership-select-field" color="accent">
            <mat-icon class="membership-icon" matPrefix [svgIcon]="membershipCtrl.value.membershipIcon"></mat-icon>
            <mat-select [formControl]="membershipCtrl" (selectionChange)="changeMembership($event)">
              <mat-option *ngFor="let m of memberships" [value]="m" class="membership">
                <mat-icon class="membership-icon" [svgIcon]="m.membershipIcon"></mat-icon>
                <span class="display-name">{{m.displayName}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-template #oneMembership>
          <div class="membership" *ngIf="memberships?.length">
            <mat-icon class="membership-icon" [svgIcon]="memberships[0].membershipIcon"></mat-icon>
            <span class="display-name">{{memberships[0].displayName}}</span>
          </div>
        </ng-template>

        <nav class="desktop-nav">
          <a routerLink="/progress" routerLinkActive="active">My Progress</a>
          <a routerLink="/crucible" routerLinkActive="active">Crucible</a>
          <!--<a routerLink="/fireteam" routerLinkActive="active">Fireteam</a>-->
          <button type="button" (click)="auth.logOut()" *ngIf="auth.isAuthenticated">Log Out</button>
        </nav>
        <button class="sidenav-toggle" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
