<div class="character-info">
  <img class="emblem-icon" *ngIf="emblemIcon" [src]="'https://bungie.net' + emblemIcon" alt="">
  <div [ngSwitch]="!!name">
    <ng-container *ngSwitchCase="true">
      <div class="name">{{name}}</div>
      <div class="small-class">{{characterClass | async}}</div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="class">{{characterClass | async}}</div>
      <div class="race-gender">{{race | async}} {{gender | async}}</div>
    </ng-container>
  </div>
  <div>
    <div class="light-level">{{data?.light || lightLevel}}</div>
    <div class="level">
      <span class="label">LVL </span>
      <span class="value">{{data?.levelProgression.level || level}}</span>
      <span class="level-cap" *ngIf="data"> / {{data.levelProgression.levelCap}}</span>
    </div>
  </div>
</div>
<div class="level-progress-bar" *ngIf="data">
  <span class="progress" [style.width]="data.percentToNextLevel + '%'"></span>
</div>
