@require 'vars.styl'

:host
  margin-top 1em
.page-header
  align-items flex-end
  display flex
  justify-content space-between
  .avg-kd
    color clr-secondary
    font-size .6em
    font-weight 500
    text-transform uppercase
    .sm
      color clr-white
      font-weight 400
      margin-right .8em
section
  margin-top 1em
  &:first-child
    margin-top 0
  dr-character
    margin-bottom 10px
    margin-left auto
    margin-right auto
h4
  background clr-secondary
  color clr-grey
  font-size 1.25em
  font-weight 700
  margin-bottom 1em
  padding-bottom 1em
  padding-top 1em
.guardian-stats
  background #fff
  width 100%
  tr:first-child
    background lighten(clr-grey, 80%)
  th,
  td
    padding 10px
    text-align left
    vertical-align middle
  tr:nth-child(2n+3)
    background lighten(clr-secondary, 90%)
.label
  color clr-grey
  font-size .8em
  text-transform uppercase
  &:after
    content ': '
    margin-right 1.5em
